<div class="buttons">
   <h3>{{buttonHeading}}</h3>
   <button [class.gold]="!goldInactive" [disabled]="goldInactive" (click)="goldInactive = false">Gold</button> <br>
   <button [class.silver]="!silverInactive" [disabled]="silverInactive" (click)="silverInactive = false">Silver</button> <br>
   <button [class.copper]="!copperInactive" [disabled]="copperInactive" (click)="copperInactive = false">Copper</button> <hr>
   <button (click)="activateDeactivateButtons()">Activate/Deactivate Buttons</button>
</div>